<footer class="app-footer">
	<div class="app-footer-content">
		<div class="app-footer-left">
			{% if page.privacypolicy %}
				<a href="privacypolicy.html" class="app-footer-link">Privacy Policy</a>
			{% endif %}
			{% if page.terms %}
				<a href="terms.html" class="app-footer-link">Terms</a>
			{% endif %}
		</div>
		
		<div class="app-footer-center">
			<p class="app-footer-text">Made by <a href="https://cafournier.com" class="app-footer-author-link" target="_blank" rel="noopener">Charles-Adrien Fournier</a></p>
		</div>
		
		<div class="app-footer-right">
			{% if page.show_support_link %}
				<a href="mailto:feedback@cafournier.com" class="app-footer-link">Support</a>
			{% endif %}
			{% if page.presskit_path %}
				<a href="{{ page.presskit_path }}" class="app-footer-link" target="_blank">Press Kit</a>
			{% endif %}
			{% if page.changelog %}
				<a href="changelog.html" class="app-footer-link">Changelog</a>
			{% endif %}
		</div>
	</div>
</footer>