<footer class="app-footer">
	<div class="app-footer-content">
		<div class="app-footer-left">
			<a href="/fridgebuddy/privacypolicy" class="app-footer-link">Privacy Policy</a>
			<a href="/fridgebuddy/terms" class="app-footer-link">Terms</a>
		</div>

		<div class="app-footer-center">
			<p class="app-footer-text">Made by <a href="https://cafournier.com" class="app-footer-author-link" target="_blank" rel="noopener">Charles-Adrien Fournier</a></p>
		</div>

		<div class="app-footer-right">
			<a href="/fridgebuddy/alternatives/" class="app-footer-link">Compare apps</a>
			<a href="mailto:feedback@cafournier.com" class="app-footer-link">Support</a>
		</div>
	</div>
</footer>
