<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to my newsletter</h2>
        <p>Every month, you’ll get a quick recap of the content posted on this site and some articles that I found interesting during the month.</p>
        <div id="mc_embed_signup">
            <script async data-uid="{{ site.convert_kit_id }}" src="https://fantastic-designer-6268.ck.page/{{ site.convert_kit_id }}/index.js"></script>
        </div>
    </div><!-- .inner -->
</section><!-- .widget -->